# Database Configuration
SUPABASE_DB_URL=postgresql://postgres:3v6-U.sbMnYB@3D@db.fbqinbkfgckofqokgevu.supabase.co:5432/postgres?sslmode=require

# JWT Configuration
JWT_SECRET=66KymY4/IEEIMVQQrcI+BSdCl52CAURxp7Zo12jIacQY0BYYh3PkSgCsxbIUM3PSorRp8nMoDOnXljTtn70VQg==

# Application Configuration
ENVIRONMENT=development
PORT=8080
